<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Foods in Closet</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
<h1>Bought foods</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the list of foods and display them -->
    <tr th:each="food : ${foods}">
        <td th:text="${food.name}"></td>
        <td th:text="${food.quantity}"></td>

        <td>
            <div>
                <a th:href="@{/closet/foods/edit/{id}(id=${food.id})}"><img class="button" src="/edit-button.png" ></a>
                <a th:href="@{/closet/foods/delete/{id}(id=${food.id})}"><img class= "button" src="/delete-button.png" ></a>
            </div>
        </td>
    </tr>

    </tbody>

</table>
</body>
</html>