.button {
    width: 40px; /* Set the width of the image */
    height: 40px; /* Set the height of the image */
}


h1 {
    font-weight: 600;
}

a {
    color: rgba(0, 0, 0, 0.93);
    font-weight: 300;
    text-decoration: none;
    font-size: 19px;
    margin-right: 10px;

}

a:hover{
    text-decoration: underline;
}

body{
    font-family: 'open sans';
    background-color: rgba(151,255,179,0.34);
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    text-align: center;
}