<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Required foods</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
<h2>This list represents the minimum food stock of our house </h2>
<div>
    <a href="/required-foods/create"><img class="button" src="/add-button.png" ></a>
    <a href="/required-foods/delete-all"><img class= "button" src="/delete.png" ></a>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the list of foods and display them -->
    <tr th:each="food : ${listOfFoods}">
        <td th:text="${food.name}"></td>
        <td th:text="${food.quantity}"></td>

        <td>
            <div>
                <a th:href="@{/required-foods/edit/{id}(id=${food.id})}"><img class="button" src="/edit-button.png" ></a>
                <a th:href="@{/required-foods/delete/{id}(id=${food.id})}"><img class= "button" src="/delete-button.png" ></a>
            </div>
        </td>
    </tr>

    </tbody>

</table>
<a href="http://localhost:8085/">Go to main menu</a>
</body>
</html>