<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Closet</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Welcome to the closet! </h2>
    <p>-----------------------------</p>
    <h3>To see all foods type that are stored in the closet press the button below</h3>
    <button><a href="/closet/foods">See all foods in Closet </a></button><br>
    <p>-----------------------------</p>
    <h3> To see the foods that expire until a specific date, select the date and press the button</h3>
    <form action="/closet/foods_that_will_expire_soon" method="post">
        <label for="foodsThatWillExpireSoon">Expiration Date:</label>
        <input type="date" id="foodsThatWillExpireSoon" name="expirationDate"><br>
        <button type="submit">See food that will expire soon</button>
    </form>
    <p>-----------------------------</p>
    <h3>To clear the closet of all foods press the button below</h3>
    <button><a href="/closet/clearAll">Clear the closet</a></button>
    <p>-----------------------------</p>
    <div>
        <a href="/refrigerator">Go to refrigerator</a>
        <a href="/">Go to main menu</a>
        <a href="/freezer">Go to freezer</a>
    </div>
</body>
</html>