<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Closet</title>
</head>
<body>
    <h1>Welcome to the closet! </h1>
    <form action="/closet/add" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity"><br>
        <label for="expirationDate">Expiration Date:</label>
        <input type="date" id="expirationDate" name="expiration_date"><br>
        <button type="submit">Add Food</button>
    </form>
    <button><a href="/closet/foods">See all foods in Closet </a></button>
</body>
</html>