<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Foods in Closet</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>All Foods in Freezer</h1>
<a href="/freezer">Go back</a>
<div>
  <a href="/freezer/foods/create"><img class="button" src="/add-button.png" ></a>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Expiration Date</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop through the list of foods and display them -->
  <tr th:each="food : ${foods}">
    <td th:text="${food.name}"></td>
    <td th:text="${food.quantity}"></td>
    <td th:text="${food.getUnitMeasurement()}"></td>
    <td th:text="${food.expirationDate}"></td>
    <td>
      <div>
        <a th:href="@{/freezer/foods/edit/{id}(id=${food.id})}"><img class="button" src="/edit-button.png" ></a>
        <a th:href="@{/freezer/foods/delete/{id}(id=${food.id})}"><img class= "button" src="/delete-button.png" ></a>
      </div>
    </td>
  </tr>

  </tbody>

</table>
</body>
</html>