<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Closet</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
<h2>Welcome to the freezer! </h2>
<p>-----------------------------</p>
<h3>To see all foods type that are stored in the freezer press the button below</h3>
<button><a href="/freezer/foods">See all foods in Freezer </a></button><br>
<p>-----------------------------</p>
<h3> To see the foods that expire until a specific date, select the date and press the button</h3>
<form action="/freezer/foods_that_will_expire_soon" method="post">
    <label for="foodsThatWillExpireSoon">Expiration Date:</label>
    <input type="date" id="foodsThatWillExpireSoon" name="expirationDate"><br>
    <button type="submit">See food that will expire soon</button>
</form>
<p>-----------------------------</p>
<h3>To clear the freezer of all foods press the button below</h3>
<button><a href="/freezer/clearAll">Clear the freezer</a></button>
<p>-----------------------------</p>
<div>
    <a href="/closet">Go to closet</a>
    <a href="/">Go to main menu</a>
    <a href="/refrigerator">Go to refrigerator</a>
</div>
</body>
</html>