<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Welcome to My Personal Food Waste Combat Application</h1>
<h2>Places where you can store food</h2>

    <button><a href="closet">Closet</a></button>
    <button><a href="freezer">Freezer</a></button>
    <button><a href="refrigerator">Refrigerator</a></button><br>

<button><a href="search-for-food"><img class="button" id="search-button" src="/search.png" alt="Search"></a></button>
<h2>Minimum Food Stock that you should have in the house</h2>
<a href="/required-foods"><img class="button" src="/foods.jpeg" ></a>
<h2>Shopping list</h2>
<a href="/shopping-list"><img class="button" src="/shopping-cart.jpeg" ></a>
</body>
</html>